<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <a href="/contact">Contacto</a>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
